<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    <%= page ? page : "Full-stack" %>
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/details-1.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/test.css" rel="stylesheet">
  <% if(page=="sidebar"){%>
    <link href="/assets/css/sidebar.css" rel="stylesheet">
  <%}%> 
  <% if(page === "Contest"){ %>
    <link rel="stylesheet" href="/assets/css/contest.css">
  <% } %> 

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
   
</head>

<body>
  <!-- ======= Top Bar ======= -->
  <% if(!page){%>
    <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <marquee behavior="scroll" direction="right" scrollamount="20">Here is some latest contest details scrolling
          text... left to right!</marquee>
      </div>
    </section>
  <%} %>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="/home">Infinity SKILL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/home">Home</a></li>
         
          <% if(currentUser.username === "Admin"){ %>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/requested-contests">Requested Contests</a></li>
              <li><a href="/approved-contests">Approved Contests</a></li>
            </ul>
          </li>
          <% } else { %>   
          <li><a href="/post-contest">Post a contest</a></li>
            <% } %> 
          <li><a href="/articles">Blog</a></li>
          <li><a href="/contact-form">Contact</a></li>
          <li>
            <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
              <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center"
                data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                <img style="border-radius: 50%;" class="mr-2" src="https://i.stack.imgur.com/34AD2.jpg" width="40"
                  height="40" alt="avatar">
    
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="/dashboard">Dashboard</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </ul>
            </div>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- Flash -->
  <%- include("./flash") %> 
