<%- include("./partials/header") %> 

<main id="main">
    <section class="inner-page">
        <div class="container">
            Atricles about to add
        </div>
    </section>
</main>

<%- include("./partials/footer") %> 