<%- include("./partials/header") %>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Infinity Skill</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Lorem <span>Ipsum Dolor</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Sequi ea <span>Dime Lara</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->
  <main id="main">
  <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-person-bounding-box"></i>
              <h3><a href="">User type 1</a></h3>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-people"></i>
              <h3><a href="">User type 2</a></h3>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-file-person-fill"></i>
              <h3><a href="">User type 3</a></h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
        </div>
      </div>
  </section><!-- End Featured Section -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <p style=" color: rgba(36, 230, 36, 0.479);font-size: 50px;font-weight: 800;" >How it works</p>
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
       
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
          <!-- <iframe src="https://www.youtube.com/watch?v=z4kylGr9yks" title="W3Schools Free Online Web Tutorials"> </iframe> -->
            <iframe style="margin-top: 50px; width: 1000px; height: 500px;" class="responsive-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> 
        </div>
        
        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" >
         
          <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

          <div class="icon-box"  >
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="icon-box"  >
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>

          <div class="icon-box"  >
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <header id="header2" class="d-flex align-items-center">
    <div class="container justify-content-between">

      <nav id="navbar" class="navbar">
        <ul>
          <li  ><a class="nav-link scrollto " href="#joinContest" style="color:rgba(196, 18, 107, 0.479) ;">1.Join Contest</a></li>
          <li style="margin-left: 50px;"><a class="nav-link scrollto" href="#rules" style="color:rgba(174, 33, 179, 0.479) ;">2.Follow Rules</a></li>
          <li style="margin-left: 50px;"><a class="nav-link scrollto" href="#submit" style="color:rgba(179, 157, 33, 0.76) ;">3.Submit your work</a></li>
          <li style="margin-left: 50px;"><a class="nav-link scrollto" href="#vote" style="color:rgba(33, 190, 93, 0.479);">4.Voting</a></li>
          <li style="margin-left: 50px;"><a class="nav-link scrollto" href="#winner" style="color:rgba(252, 47, 64, 0.699) ;">5.Winner</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- End Header -->
  <main id="main">
    <section id="joinContest" class="Stepwise">
        <div class="container">
    
          <div class="row">
            <div class="col-xl-5 col-lg-6 order-sm-1 order-lg-1 video-box d-flex justify-content-center align-items-stretch">
                <img src="/assets/img/How it works/1.jpg"/>
            </div>
    
            <div class="col-xl-7 col-lg-6 order-sm-2 order-lg-2 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" >
              <p style=" color: rgba(196, 18, 107, 0.479);font-size: 40px;font-weight: 700;" >1. Join Contest</p>
              <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

          <div class="icon-box"  >
           
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="icon-box"  >
            
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>

          <div class="icon-box"  >
            
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div>
            </div>
          </div>
    
        </div>
    </section>
    <!-- ======= rules Section ======= -->
    <section id="rules" class="Stepwise">
        <div class="container">
          <div class="row">
          
            <div class="col-xl-7 col-lg-6 order-sm-2 order-lg-1 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" >
              <p style=" color: rgba(174, 33, 179, 0.479);font-size: 40px;font-weight: 700;" >2. Follow the rules</p>
              <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>
    
              <div class="icon-box"  >
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>
    
              <div class="icon-box"  >
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
    
              <div class="icon-box"  >
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">Dine Pad</a></h4>
                <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
              </div>
    
            </div>
            <div class="col-xl-5 col-lg-6 order-sm-1 order-lg-2 video-box d-flex justify-content-center align-items-stretch" >
              <img src="./assets/img/How it works/2.jpg"/>
            </div>
    
          </div>
    
        </div>
    </section><!-- End rules Section -->
 <!-- ======= submit Section ======= -->
 <section id="submit" class="Stepwise">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 order-sm-1 order-lg-1 video-box d-flex justify-content-center align-items-stretch" >
        <img src="./assets/img/How it works/3.jpg"/>
      </div>
      <div class="col-xl-7 col-lg-6 order-sm-2 order-lg-2 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" >
        <p style=" color: rgba(179, 157, 33, 0.76);font-size: 40px;font-weight: 700;" >3. Submit your work</p>
        <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

        <div class="icon-box" >
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>

        <div class="icon-box" >
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>

        <div class="icon-box" >
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Dine Pad</a></h4>
          <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
        </div>

      </div> 
    </div>
  </div>
</section><!-- End submitSection -->
<!-- ======= Voting Section ======= -->
<section id="vote" class="Stepwise">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-6 order-sm-2  order-lg-1 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" >
        <p style=" color: rgba(33, 190, 93, 0.479);font-size: 40px;font-weight: 700;" >4. Voting by team</p>
        <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

        <div class="icon-box" >
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>

        <div class="icon-box" >
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>

        <div class="icon-box" >
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Dine Pad</a></h4>
          <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
        </div>

      </div> 
      <div class="col-xl-5 col-lg-6  order-sm-1 order-lg-2 d-flex justify-content-center align-items-stretch" >
        <img style="width: 500px;" src="./assets/img/How it works/4.jpg"/>
      </div>
    </div>
  </div>
</section>
<!-- End vote Section -->
<!-- ======= winner Section ======= -->
<section id="winner" class="Stepwise">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6  d-flex justify-content-center align-items-stretch orger-sm-1" >
        <img style="width: 500px;" src="./assets/img/How it works/5.jpg"/>
      </div>
      <div class="col-xl-7 col-lg-6 orger-sm-2 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" >
        <p style=" color: rgba(252, 47, 64, 0.699);font-size: 40px;font-weight: 700;" >5. Winner Announcement</p>
        <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Dine Pad</a></h4>
          <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
        </div>

      </div> 
      
    </div>
  </div>
</section>
<!-- End winner Section -->
  </main><!-- End #main -->




  </main><!-- End #main -->

<%- include("./partials/footer") %>
