<!-- Work submission modal -->
<div class="modal fade" id="submit" tabindex="-1" aria-labelledby="submitLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: black;" class="modal-title" id="submitLabel">Submit your work here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/contest/<%= contest._id %>/submitWork" method="POST">
                <div class="modal-body" style="color: black;">
                    <p>Please upload your work in google drive and upload link here
                        <span style="color: red;">(please make sure your link has access to everyone)</span>
                    </p>
                    <div class="form-floating mb-3">
                        <input type="url" name="workLink" class="form-control" id="floatingInput"
                            placeholder="Contest Moto" required>
                        <label for="floatingInput">Please enter Drive link here</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Money request modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Enter your Bank details.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/request-money/<%= contest._id %>" method="POST">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" name="bankType" class="form-control" id="banktype" placeholder="Type of bank" required>
                        <label for="banktype">Bank Name</label>
                    </div>
                
                    <div class="form-floating mb-3">
                        <input type="password" name="accountNumber" class="form-control" id="accountNumber"
                            placeholder="Enter account number" required>
                        <label for="accountNumber">Enter account number</label>
                    </div>
                
                    <div class="form-floating mb-3">
                        <input type="text" name="confirmAccountNumber" class="form-control" id="confirmAccountNumber"
                            placeholder="Enter account number" required>
                        <label for="confirmAccountNumber">Re-enter account number</label>
                    </div>
                
                    <div class="form-floating mb-3">
                        <input type="text" name="ifsc" class="form-control" id="ifsc" placeholder="Enter account number" required>
                        <label for="ifsc">Enter IFSC code</label>
                    </div>
                
                    <div class="form-floating mb-3">
                        <input type="text" name="holderName" class="form-control" id="holderName" placeholder="Enter account number"
                            required>
                        <label for="holderName">Enter account holder name</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Report modal -->
<div class="modal fade" id="report" tabindex="-1" aria-labelledby="submitLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: black;" class="modal-title" id="submitLabel">Report form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/report" method="POST">
                <div class="modal-body" style="color: black;">
                    <div class="form-floating mb-3">
                        <input type="text" name="contestId" class="form-control" id="contestId" placeholder="Contest identifier"
                            value="<%= contest._id %>" required readonly>
                        <label for="contestId">Contest identifier</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="pname" class="form-control" id="pname" placeholder="Enter participant name" required>
                        <label for="pname">Enter participant name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea name="reason" cols="30" rows="10" class="form-control" id="reason" 
                            placeholder="Enter reason for reporting" required></textarea>
                        <label for="reason">Enter reason for reporting</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Vote model for admin -->
<div class="modal fade" id="points" tabindex="-1" aria-labelledby="submitLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: black;" class="modal-title" id="submitLabel">Points form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                <div class="form-floating mb-3">
                    <input type="text" name="contestId" class="form-control" id="cid"
                        placeholder="Contest identifier" value="<%= contest._id %>" required readonly>
                    <label for="cid">Contest identifier</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="pname" class="form-control" id="pn" placeholder="Enter participant name" required>
                    <label for="pn">Enter participant name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" name="points" class="form-control" id="adminPoints" min="0"
                        placeholder="Enter points you want to give..." required>
                    <label for="adminPoints">Enter points you want to give...</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" onclick="handleSubmit(this)">Submit</button>
            </div>
        </div>
    </div>
</div>
