<%- include("../partials/header2") %>
    <div class="card container" style="margin-top: 50px; margin-bottom: 50px; padding: 20px; ">
        <div class="title" style="padding: 20px;">
            <h3 style="color: rgb(65, 131, 206);">Create Profile</h3>
        </div>
        <form action="/post-contest" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" name="contestName" class="form-control" id="floatingInput"
                            placeholder="Enter Contest name">
                        <label for="floatingInput">Full name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" name="motive" class="form-control" id="floatingInput"
                            placeholder="Contest Moto">
                        <label for="floatingInput">E-mail</label>
                    </div>
                </div>
            </div>
         
            
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" name="votingStart" class="form-control" id="floatingInput"
                            placeholder="Select contest start date">
                        <label for="floatingInput">Date of Birth</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" name="votingEnd" class="form-control" id="floatingInput"
                            placeholder="Select contest end date">
                        <label for="floatingInput">Address</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" name="WinnerDate" class="form-control" id="floatingInput"
                            placeholder="Select contest end date">
                        <label for="floatingInput">Mobile number</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-floating">
                    <textarea class="form-control" name="description" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Contest Description</label>
                </div>
            </div>
            <!-- <div class="row">
                <div id="summernote"></div>
                <script>
                    $('#summernote').summernote({
                        placeholder: 'Add your Description here',
                        name: "description",
                        tabsize: 2,
                        height: 100
                    });
                </script>
            </div> -->
            <br />
            <div class="row">
                <div class="col">
                    <select id="mySelect" class="form-select" name="category" onchange="myFunction()">
                        <option value="" selected>Select any category</option>
                        <option value="Dancing">Dancing</option>
                        <option value="Singing">Singing</option>
                        <option value="Music">Music</option>
                        <option value="Art">Art</option>
                        <option value="Graphic design">Graphic design</option>
                        <option value="reels">Video/film/reels</option>
                        <option value="VideoEditing">Video editing</option>
                        <option value="PhotoEditing">Photo editing</option>
                        <option value="SoftSkills">Soft Skills</option>
                        <option value="Photography">Photography</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="subCategory" id="mySelect2">
                        <option id=" ">Select sub category</option>
                        <option id="1"></option>
                        <option id="2"></option>
                        <option id="3"></option>
                        <option id="4"></option>
                        <option id="5"></option>
                        <option id="6"></option>
                        <option id="7"></option>
                        <option id="8"></option>
                        <option id="9"></option>
                        <option id="10"></option>
                        <option id="11"></option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" name="prizeMoney" class="form-control" id="floatingInput" min="0"
                            placeholder="Enter Prize Money">
                        <label for="floatingInput">Prize Money</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" name="entryFee" class="form-control" id="floatingInput" min="0"
                            placeholder="Entry Fee">
                        <label for="floatingInput">Entry Fee</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg">Send Request</button>
        </form>
    </div>
<%- include("../partials/footer") %>
